body {
  font-family: 'PT Sans', sans-serif;
  color: #000000;
  font-weight: 400;
}

h1 {
  font-size: 108px;
  font-weight: 400;
  line-height: 77px;
}

h2 {
  font-size: 42px;
  font-weight: 400;
  line-height: 47px;
}

p {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: -1px;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  color: #000000;
  text-decoration: none;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  flex-wrap: nowrap;
  background-color: #F5F5F0;
  margin-top: -10px;
}

.logo {
  font-size: 42px;
  line-height: 47px;
  margin-top: 4px;
  margin-left: 39px;
}

.menu-container {
  margin: -5px 70px;
}

.menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 22px;
}

.menu-item {
  font-size: 19px;
}

.first-screen {
  background-color: #F5F5F0;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  flex-wrap: nowrap;
  padding-left: 40px;
  padding-bottom: 10px;
}

.tag {
  font-size: 23px;
  line-height: 26px;
  margin-top: 26px;
  margin-left: 1px;
}

.title {
  margin-top: 15px;
  margin-left: -6px;
}

.first-screen-text {
  width: 380px;
  margin-top: 173px;
  margin-left: 1px;
}

.first-screen-img {
  margin-top: 22px;
  margin-right: 21px;
}

.masonry {
  column-count: 2;
  column-gap: 20px;
}

.item {
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}