body {
  font-family: 'PT Sans', sans-serif;
  color: #000000;
  font-weight: 400;
}

h1 {
  font-size: 108px;
}

h2 {
  font-size: 42px;
}

p {
  font-size: 14px;
}

.logo {
  font-size: 42px;
}

.menu-item {
  font-size: 19px;
}

.tag {
  font-size: 23px;
}
.container {
  width: 1000px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.row {
  padding-left: 51px;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}